<header class="page__header">
	<div class="align">
		<nav class="nav-site">
			<ul class="nav-menu">
				<li class="desktop">
					<a href="/" class="nav-menu__logo nav-menu__link">
						<img src="images/icon-logo.svg" alt="GDG Cochabamba logo"/>
					</a>
				</li>
				<li>
					<a href="/eventos" class="nav-menu__link">
						Eventos
					</a>
				</li>
				<li>
					<a href="/videos" class="nav-menu__link">
						Videos
					</a>
				</li>
			</ul>

			<div class="mobile">
				<!-- <a href="#" class="nav-menu--movil">
						<span class="icon-three-bars"></span>
				</a> -->
			</div>
			<div class="social-network">
				<ul class="social-network__list">
						<li class="social-network__item">
								<a href="https://plus.google.com/u/0/107589533385257090652" target="_blank" class="social-network__link">
										<span class="icon-google-plus"></span>
								</a>
						</li>
						<li class="social-network__item">
								<a href="https://www.youtube.com/channel/UC5--B3rL9UI7JNDinbidiPw/" class="social-network__link" target="_blank">
										<span class="icon-youtube"></span>
								</a>
						</li>
						<li class="social-network__item">
								<a href="https://www.facebook.com/GDGCochabamba/" target="_blank" class="social-network__link">
										<span class="icon-facebook"></span>
								</a>
						</li>
				</ul>
			</div>
		</nav>
	</div>
</header>
