<header class="page__header">
	<nav class="nav-site align">
		<div class="nav-site__menu">
			<ul class="nav-site__list dnone">
				<li class="nav-site__item nav-site__item--sb">
					<a href="/" class="nav-site__link nav-site__link--size ">
						<figure class="icon-logo">
							<img src="images/icon-logo.svg" alt=""/>
						</figure>
					</a>
				</li>
				<li class="nav-site__item nav-site__item--margin-bottom">
					<a href="/eventos" class="nav-site__link">
						Eventos
					</a>
				</li>
				<li class="nav-site__item nav-site__item--margin-bottom">
					<a href="/videos" class="nav-site__link">
						Videos
					</a>
				</li>
			</ul>
		</div>
        <a href="#" class="nav-menu--movil">
            <span class="icon-three-bars"></span>
        </a>
		<div class="social-network">
			<ul class="social-network__list">
					<li class="social-network__item">
							<a href="https://plus.google.com/u/0/107589533385257090652" target="_blank" class="social-network__link">
									<span class="icon-google-plus"></span>
							</a>
					</li>
					<li class="social-network__item">
							<a href="https://www.youtube.com/channel/UC5--B3rL9UI7JNDinbidiPw/" class="social-network__link" target="_blank">
									<span class="icon-youtube"></span>
							</a>
					</li>
					<li class="social-network__item">
							<a href="https://www.facebook.com/GDGCochabamba/" target="_blank" class="social-network__link">
									<span class="icon-facebook"></span>
							</a>
					</li>
			</ul>
		</div>
	</nav>
</header>
