//importando archivo normalize
@import 'normalize.styl'

//importando iconos
@font-face {
  font-family: 'icomoon';
  src:url('../fonts/icomoon.eot?nplm6g');
  src:url('../fonts/icomoon.eot?nplm6g#iefix') format('embedded-opentype'),
  url('../fonts/icomoon.ttf?nplm6g') format('truetype'),
  url('../fonts/icomoon.woff?nplm6g') format('woff'),
  url('../fonts/icomoon.svg?nplm6g#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
  //icono de lista
.icon-list:before {
  content: "\e600";
}
  //icono de ventana de chat
.icon-chat:before {
  content: "\e601";
}
  //icono de sobre de carta
.icon-envelope:before {
  content: "\e605";
}
  //icono de me gusta
.icon-like:before {
  content: "\e602";
}
  //icono de calendario
.icon-calendar:before {
  content: "\e953";
}
.icon-google-plus:before {
  content: "\ea88";
}
.icon-facebook:before {
  content: "\ea8c";
}
.icon-youtube:before {
  content: "\ea99";
}
  //Agregando paleta de colores
_black-dark = #3F3E40
_black-regular = #4D4D4D

_sky-blue = #00BDD6

_green-dark = #00903B
_green-regular = #00B74C

_red-dark = #FF183E

_white = #FFFFFF
  //agregando estilos generales
body
    margin 0
    font-family 'Roboto', sans-serif

a
    text-decoration none
li
    list-style none
ul
    padding 0
    margin 0
p
    padding 0
    margin 0
img
    width 100%

h1,h2,h3,h4,h5,h6
    padding 0
    margin 0
.section-space
    padding-top 4em

 //Componente de Subtitulo y texto
.title-box
    color white
    text-align center
    max-width 59rem
    margin 0 auto
    .title-box__main
        text-transform uppercase
        font-size 4em
        font-weight 200
        padding-bottom 1rem
    .title-box__text
        font-size 1.25em
        text-align left
  //Alineacion general
.align
    margin-right auto
    margin-left auto
    max-width 74em
    padding 0 1rem

//declarando una misma propiedad a los sections
.about-what, .about-do, .vision, .videos, .event
    position relative
//componente  link
.link-content
    text-transform uppercase
    color _white
    border-bottom 2px solid _white
//iamgenes SVG
.cloud, .hill, .build
    position absolute
    margin-right auto
    margin-left auto
    right 0
    left 0
    font-size 0
    text-align center
    bottom 0
.hill--size
    width 155%

//Componente CARD
.card
    margin 0 auto
    min-width 10rem
    max-width 32rem
    position relative
    box-shadow 2px 2px 17px 0px _black-dark
    &__container
        overflow hidden
        .card__content
            padding 6.5rem 0
            background-color _white
        .card__description
            background-color _green-dark
            color _white
            position relative
            padding .5rem
            display table
            width 100%
            .icon-calendar, .card__data, .card__button
                display table-cell
                vertical-align  middle
            .card__data
                text-align left
                padding-left .5rem
                .card__title
                    text-transform uppercase
                    font-weight 400
                    font-size 2rem
                .card__date
                    font-style oblique
                    font-weight 300
                    font-size 1.3rem
            .icon-calendar
                font-size 3.5rem
            .card__button
                display table
                color _white
                padding 1.4rem .8rem .8rem 1.2rem
                border-radius 50%
                top -50px
                box-shadow 2px 4px 7px -1px _black-dark
                background-color _red-dark
                position relative
                font-size 2rem
                right 20px
.card--size1
    max-width 59rem
    .card__content
        padding 12.5rem 0
//Componentede de Videos

.video
    width 29rem
    height 14rem
    background-color #0059bc
    position relative
    &__content
        background-color #0059bc
    &__like
        color _white
        position absolute
        bottom 5px
        right 5px
        p
            display inline-block
            margin-right 2rem
            &:last-child
                margin-right 1rem

//Componente redes sociales
.social-network__list
    margin 0
    padding 0
    .social-network__item
        display inline-block
        font-size 1.4rem
        border 1px solid white
        border-radius .2em
        background-color white
        margin-left .2em
    .social-network__link
        color #414042
        display block
        padding .1rem .2rem
        span
            text-align center
            text-shadow 0px 1px
    .social-network__item--size
        font-size 2rem

.page__header
    margin 0
    .nav-site
        background-color #414042
        padding 1rem
        .nav-site__menu
            float left
            line-height 1.5em
            .nav-site__list
                margin 0
                padding 0
                .nav-site__item
                    text-transform uppercase
                    margin-right 2.5em
                    font-weight 500
                    font-size 1rem
                    display inline-block
                    text-transform uppercase
                    border-bottom 2px solid white
                    .nav-site__link
                        color white
                        padding .2rem .3rem
        .social-network
            float right
        &:after
            content ""
            clear both
            display block


.about-us
    background-color _sky-blue
    background-image url('../svg/clouds.svg')
    background-size 100%
    position relative
    text-align center
    min-height 62rem
    max-height 62rem
    .cloud
        max-width 90%
        top 0
        margin-top 50px
        display table
    .build
        max-width 70%
    .about-us__logo
        position relative
        margin-right auto
        margin-left  auto
        display table
        img
            height 200px

.about-what
    background-color _black-regular
    min-height 65rem
    text-align center
    &__video
        display table
        margin 3rem auto

.about-do
    background-color _green-regular
    min-height 75rem
    &__card
        margin 3rem 0
    &__eventos
        margin 0 auto
        display table
        text-align center
        span
            color _white
            font-size 3rem
        .link-content
            display block
            margin-top .5rem

.vision
    background-color _black-dark
    min-height 60rem
    text-align center
    &__link
        margin 1rem 0 2rem 0

//Pagina eventos.html
.event
    background-color _green-regular
    min-height 95rem
    &__principal
        margin-top 2rem
        margin-bottom 3rem
    &__list-container
        max-width 59rem
        font-size 1rem
        margin 0 auto
        text-align left
        .event__past
            font-size 1.5rem
            color _white
            text-transform uppercase
            font-weight 300
            margin-bottom 1rem
        .event__list
            font-size 0
            text-align center
            .event__item
                display inline-block
                width 32%
                margin-right 1rem
                &:last-child
                    margin-right 0

//Aplicando
