//importando archivo normalize
@import 'normalize.styl'

//importando iconos
@font-face {
  font-family: 'icomoon';
  src:url('../fonts/icomoon.eot?nplm6g');
  src:url('../fonts/icomoon.eot?nplm6g#iefix') format('embedded-opentype'),
  url('../fonts/icomoon.ttf?nplm6g') format('truetype'),
  url('../fonts/icomoon.woff?nplm6g') format('woff'),
  url('../fonts/icomoon.svg?nplm6g#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
  //icono de lista
.icon-list:before {
  content: "\e600";
}
  //icono de ventana de chat
.icon-chat:before {
  content: "\e601";
}
  //icono de sobre de carta
.icon-envelope:before {
  content: "\e605";
}
  //icono de me gusta
.icon-like:before {
  content: "\e602";
}
  //icono de calendario
.icon-calendar:before {
  content: "\e953";
}
.icon-google-plus:before {
  content: "\ea88";
}
.icon-facebook:before {
  content: "\ea8c";
}
.icon-youtube:before {
  content: "\ea99";
}
.icon-three-bars:before {
  content: "\f05e";
}
.icon-play:before {
  content: "\ea15";
}
  //Agregando paleta de colores
_black-dark = #3F3E40
_black-regular = #4D4D4D

_sky-blue = #00BDD6

_green-dark = #00903B
_green-regular = #00B74C

_red-dark = #FF183E

_white = #FFFFFF
  //agregando estilos generales
body
    margin 0
    font-family 'Roboto', sans-serif

a
    text-decoration none
li
    list-style none
ul
    padding 0
    margin 0
p
    padding 0
    margin 0
img
    width 100%

h1,h2,h3,h4,h5,h6
    padding 0
    margin 0

.dnone
    display none
.section-space
    padding-top 4em

 //Componente de Subtitulo y texto
.title-box
    color white
    text-align center
    max-width 59rem
    margin 0 auto
    .title-box__main
        text-transform uppercase
        font-size 2.5rem
        font-weight 200
        padding-bottom 1rem
    .title-box__text
        font-size 1rem
        text-align left
        line-height 1.5rem
  //Alineacion general
.align
    margin-right auto
    margin-left auto
    max-width 74em
    padding 0 1rem
    position relative

//componente  link
.link-content
    text-transform uppercase
    color _white
    border-bottom 2px solid _white

// Imagen de la ciudad y montania
.city
    background-image url("../svg/hill.svg")
    margin-top 1em
    background-size auto 100%
    padding-top 5em
    background-repeat repeat-x
    background-position bottom
    min-height 80px
    &__buildings
        font-size 0
        margin 0 auto -4px
        min-width 300px
        width 50%
    &__path
        background-image url("../svg/linea.svg")
        background-repeat repeat-x
        background-size auto 101%
        height 20px
        position relative
//Componente CARD
.card
    position relative
    box-shadow 2px 2px 17px 0px _black-dark
    &__container
        overflow hidden
        .card__content
            padding 6.5rem 0
            background-color _white
        .card__description
            background-color _green-dark
            color _white
            position relative
            padding .5rem
            display table
            width 100%
            .icon-calendar, .card__data, .card__button
                display table-cell
                vertical-align  middle
            .card__data
                text-align left
                padding-left .5rem
                .card__title
                    text-transform uppercase
                    font-weight 400
                    font-size 1.6rem
                .card__date
                    font-style oblique
                    font-weight 300
                    font-size 1.3rem
            .icon-calendar
                font-size 3.5rem
            .card__button
                color _white
                border-radius 50%
                box-shadow 2px 4px 7px -1px _black-dark
                background-color _red-dark
                float right
                font-size 1.7em
                margin-right 1em
                margin-top -1.5em
                height 60px
                width 60px
                text-align center
                span
                    line-height 2.3em
                    margin-left 8px
.card--size1
    max-width 59rem
    .card__content
        padding 12.5rem 0

//Componentede de Videos
.video
    &__thumbnail
        margin 0
        position relative
        figcaption
            color white
            font-size 4.5rem
            text-align center
            position absolute
            top 50%
            transform translateY(-50%)
            width 100%
//Componente redes sociales
.social-network__list
    margin 0
    padding 0
    .social-network__item
        display inline-block
        font-size 1.4rem
        border 1px solid white
        border-radius .2em
        background-color white
        margin-left .2em
    .social-network__link
        color #414042
        display block
        padding .3rem
        span
            display block
            text-align center
        .icon-facebook
            position relative
            top -2px
    .social-network__item--size
        font-size 2rem

.page__header
    margin 0
    .nav-menu--movil
        float left
        color _white
        span
            font-size 2rem
    .nav-site
        background-color #414042
        padding 1rem
        .nav-site__menu
            float left
            line-height 1.5em
            .nav-site__list
                margin 0
                padding 0
                .nav-site__item
                    text-transform uppercase
                    margin-right 2.5em
                    font-weight 500
                    font-size 1rem
                    display inline-block
                    text-transform uppercase
                    border-bottom 2px solid white
                    .nav-site__link
                        color white
                        padding .2rem .3rem
        .social-network
            float right
        &:after
            content ""
            clear both
            display block


.about-us
    background-color _sky-blue
    background-image url('../svg/clouds.svg')
    background-size 100%
    &__card
        margin 0 auto
        max-width 25rem
    &__logo
        margin 1em 0 4em
        img
            height 300px

.about-what
    background-color _black-regular
    text-align center
    &__video
        display table
        margin 3rem auto
    &__icon
        text-align center
        .about-what__icon-content
            margin 1rem auto .5rem
            width 68px

.about-do
    background-color _green-regular
    &__card
        margin 3rem auto
        max-width 25rem
    &__eventos
        margin 0 auto
        display table
        text-align center
        span
            color _white
            font-size 3rem
        .link-content
            display block
            margin-top .5rem

.vision
    background-color _black-dark
    text-align center
    &__link
        margin 1rem 0 2rem 0

//Pagina eventos.html
.event
    background-color _green-regular
    padding-bottom 2rem
    &__principal
        margin-top 2rem
        margin-bottom 3rem
    &__list-container
        max-width 59rem
        font-size 1rem
        margin 0 auto
        text-align center
        .event__past
            font-size 1.5rem
            color _white
            text-transform uppercase
            font-weight 300
            margin-bottom 1rem
        .event__list
            font-size 0
            text-align center
            .event__item
                margin-bottom 2rem

@media only screen and (min-width: 87.5em)
    .about-us
        &__card
            position absolute
            right 0
            top 50%
            width 25em
