@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?nplm6g');
	src:url('fonts/icomoon.eot?nplm6g#iefix') format('embedded-opentype'),
		url('fonts/icomoon.ttf?nplm6g') format('truetype'),
		url('fonts/icomoon.woff?nplm6g') format('woff'),
		url('fonts/icomoon.svg?nplm6g#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-list:before {
	content: "\e600";
}
.icon-chat:before {
	content: "\e601";
}
.icon-envelope:before {
	content: "\e605";
}
.icon-like:before {
	content: "\e602";
}
.icon-calendar:before {
	content: "\e953";
}
.icon-google-plus:before {
	content: "\ea88";
}
.icon-facebook:before {
	content: "\ea8c";
}
.icon-youtube:before {
	content: "\ea99";
}

