//Alineacion general
.align
  margin-right auto
  margin-left auto
  max-width 120em
  padding 0 1rem
  position relative

//Componente de Subtitulo y texto
.title-box
  color white
  text-align center
  max-width 59rem
  margin 0 auto
  &__main
    text-transform uppercase
    font-size 2.5rem
    font-weight 200
    padding-bottom 1rem
  &__text
    font-size 1rem
    text-align left
    line-height 1.5rem

//componente  link
.link-content
   text-transform uppercase
   color white
   border-bottom 2px solid white

@import '_card.styl'

@import '_background-images.styl'

@import '_video.styl'

@import '_social.styl'

@import '_page-parts.styl'
