// Imagen de la ciudad y montaña
.city
   background-image url("../images/hill.svg")
   background-size auto 100%
   background-repeat repeat-x
   background-position bottom
   display flex
   align-content flex-end
   flex-wrap wrap
   min-height 16em
   &__buildings
       font-size 0
       margin 0 auto -2px
       min-width 300px
       width 90%
   &__path
       background-image url("../images/linea.svg")
       background-repeat repeat-x
       background-size auto
       height 20px
       position relative
       width 100%

//Imagen de solo Edificios
.building
   background-image url("../images/building.svg")
   background-size auto 100%
   background-repeat repeat-x
   background-position bottom
   min-height 20em


.hills
   background-image url("../images/hill.svg")
   margin-top 1em
   background-size auto 100%
   padding-top 5em
   background-repeat repeat-x
   background-position bottom
   min-height 80px
