//Componente CARD
.card
  position relative
  box-shadow 2px 2px 17px 0px _black-dark
  &__image
    font-size 0
    max-height 13rem
    overflow hidden
  &__description
    background-color _green-dark
    color white
    display flex
    padding 1em
    position relative
    max-height 4.7em
    .icon-calendar
      font-size 3em
    &--c-black
       background-color _black-dark
  &--size1
    max-width 59rem
  &__data
    margin-right 3.5em
    padding-left .5rem
    text-align left
  &__title
    text-transform initial
    font-weight 400
    font-size 1.2em
    &--light
      font-weight 300
  &__date
    font-style oblique
    font-weight 300
    font-size 0.8em
  &__button
    color white
    border-radius 50%
    box-shadow 2px 4px 7px -1px _black-dark
    background-color _red-dark
    position absolute
    top -1em
    right .5em
    font-size 1.7rem
    height 60px
    width 60px
    text-align center
    span
      line-height 2.3em
      margin-left 8px
