.page__header
  background-color #414042
  box-shadow 0px 0px 15px 3px _black-dark
  margin 0
  position fixed
  width 100%
  z-index 100
  .nav-menu--movil
    float left
    color white
    span
      font-size 2rem
  .nav-site
    padding .5em 1rem
    &__menu
      float left
    &__list
      margin 0
      padding 0
    &__item
      text-transform uppercase
      margin-right 2.5em
      font-weight 500
      font-size 1rem
      display inline-block
      border-bottom 2px solid white
      vertical-align middle
      &--dnone
        display none
      &--sb
        border-bottom 0
        margin-right 1rem
    &__link
      color white
      padding .2rem .3rem
      display block
    &__link--size
      width 25px
    .social-network
      float right
      &:after
        content ""
        clear both
        display block
