//Componente redes sociales
.social-network__list
  margin 0
  padding 0
  .social-network__item
    display inline-block
    font-size 1.4rem
    border 1px solid white
    border-radius .2em
    background-color white
    margin-left .2em
  .social-network__link
    color #414042
    display block
    padding .3rem
    span
      display block
      text-align center
    .icon-facebook
      position relative
      top -2px
  .social-network__item--size
    font-size 2rem
