//Componente de de Videos
.video
  margin 2em 0
  &__thumbnail
    margin 0
    position relative
    figcaption
       color white
       font-size 4.5rem
       text-align center
       position absolute
       top 50%
       transform translateY(-50%)
       width 100%
