.event
    background-color _green-regular
    &__principal
        margin-top 2rem
        margin-bottom 3rem
    &__list-container
        max-width 59rem
        font-size 1rem
        margin 0 auto
        text-align center
        .event__past
            font-size 1.5rem
            color white
            text-transform uppercase
            font-weight 300
            margin-bottom 1rem
        .event__list
            font-size 0
            text-align center
            .event__item
                margin-bottom 2rem
    &__building
        margin-top 5rem
        font-size 0
    .building
        margin-top 5rem
