.events
  background-color _green-regular
  &__principal
    margin-top 2rem
    margin-bottom 3rem
  &__list-container
    max-width 59rem
    font-size 1rem
    margin 0 auto
    text-align center
  &__past
    font-size 1.5rem
    color white
    text-transform uppercase
    font-weight 300
    margin-bottom 1rem
  &__list
    font-size 0
    text-align center
  &__item
    margin-bottom 2rem
