.about-us
  background-color _sky-blue
  background-image url('../images/clouds.svg')
  background-size 100%
  &__card
    margin 0 auto
    max-width 25rem
  &__logo
    padding 4em 0
    img
        height 300px

.about-what
  background-color _black-regular
  text-align center
  &__video
    display table
    margin 3rem auto
  &__icon
    text-align center
  &__icon-content
    margin 1rem auto .5rem
    width 68px

.about-do
  background-color _green-regular
  &__card
    margin 3rem auto
    max-width 25rem
  &__eventos
    margin 3rem auto 0
    display table
    text-align center
    span
      color white
      font-size 3rem
    .link-content
      display block
      margin-top .5rem

.vision
  background-color _black-dark
  text-align center
  &__link
    margin 1rem 0 2rem 0
