.videos
    background-color _sky-blue
    &__container
        display table
        margin 3rem auto
        .video
            margin-bottom 1rem
    &__hill
        margin-top 5rem
        font-size 0
    .hills
        margin-top 5rem
